<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>succes - Admin Pannel</title>
    <meta name="description" content="Manage your website">
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i&amp;display=swap">
<meta http-equiv = "refresh" content = "0; url = {{redirect}}" />
</head>

<body class="bg-gradient-primary" style="background: var(--bs-warning-border-subtle);">
    <div class="container">
        <div class="card shadow-lg o-hidden border-0 my-5">
            <div class="card-body p-0">
                <div class="row">
                    <div class="col-lg-5 d-none d-lg-flex">
                        <div class="flex-grow-1 bg-register-image" style="background: url(&quot;assets/img/edc%20it.png&quot;) center / auto no-repeat;"></div>
                    </div>
                    <div class="col-lg-7">
                        <div class="p-5">
                            <div class="text-center">
                                <h4 class="text-dark mb-4">Je wordt nu doorgestuurd... </h4>
                            </div>
                            <div class="text-center"></div>
                            <div class="text-center"><a class="small" href="admin"><span style="color: rgba(var(--bs-link-color-rgb), var(--bs-link-opacity, 1));">Klik hier als je niet automatisch doorgestuurd wordt...</span></a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/bs-init.js"></script>
    <script src="assets/js/theme.js"></script>
</body>

</html>